[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pytz = "*"
python-slugify = "*"
redis = "*"
celery = "*"
django-environ = "*"
django-model-utils = "*"
django-allauth = "*"
django-crispy-forms = "*"
django-redis = "*"
djangorestframework = "*"
coreapi = "*"
ipdb = "*"
"psycopg2-binary" = "*"
mypy = "*"
pytest = "*"
pytest-sugar = "*"
"flake8" = "*"
coverage = "*"
django-debug-toolbar = "*"
django-extensions = "*"
pytest-django = "*"
Pillow = "*"
"argon2_cffi" = "*"
Django = "*"
Werkzeug = "*"
Sphinx = "*"
factory_boy = "*"
django_coverage_plugin = "*"
gunicorn = "*"
"psycopg2" = "*"
raven = "*"
django-storages = {version = "*", extras = ["boto3"]}
django-anymail = {version = "*", extras = ["mailgun"]}
Collectfast = "*"
dj-stripe = "*"
setuptools = "*"
django-enumfields = "*"

[requires]
python_version = "3.6"
